.topnav {
    overflow: hidden;
    background-color: #f8f9fa !important;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.logo {
    width: 60px;
    height: 35px;
    margin-left: 20px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

img, svg {
    vertical-align: middle;
}

.alert {
    margin-top: 50px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    text-align: center;
}

.alert-success {
    margin-top: 50px;
    background-color: #04AA6D;
    padding: 20px;
    color: white;
    text-align: center;
}
